/* Establecer la imagen de fondo en todo el body */
body {
    background-image: url('assets/lola.jpg');  
    background-size: cover;                     
    background-position: center center;         
    background-attachment: fixed;                
    margin: 0;                                  
    height: 100vh;                               
}

/* Estilo para la imagen */
.image-container {
    text-align: center; 
    margin-bottom: 20px;  
    position: relative;
}

/* Estilo para la tarjeta 404 */
.container {
    text-align: center;  
    padding: 40px 20px;    
    border: 3px solid #ffffff;  
    border-radius: 15px;       
    width: 200px;             
    margin: 0 auto;          
    margin-top: 300px;      
    background-color: rgba(255, 0, 170, 0.8); 
    background-image: url('assets/lolita.jpg'); 
    background-size: cover;
    background-position: center center; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); 
    position: relative;
    z-index: 1; 
    color: white;
}



/* Estilo para el título (h1) */
.container h1 {
    font-size: 48px;  
    margin: 0;        
}

/* Estilo para el subtítulo (h2) */
.container h2 {
    font-size: 24px;   
    margin: 10px 0;  
}

/* Estilo para el párrafo (p) */
.container p {
    font-size: 16px;  
    margin: 20px 0;   
}

/* Estilo para el botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; 
    color: white;             
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #333333; 
}
