body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    margin-left: 0px;  /* Margen a la izquierda */
    margin-right: 0px; /* Margen a la derecha */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #a6b2b2;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Estilos específicos para cada imagen */

/* Imagen principal (centrada en la página) */
.imagen-krilena {
    border-radius: 75px;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 150px; /* Mueve hacia abajo */
    left: 390px; /* Mueve hacia la derecha */
    width: 1500px; /* Ancho específico */
    height: 650px; /* Alto específico */
    }




    .imagen-la-chula {
        border-radius: 20px;
        max-width: 100%;
        display: block;
        position: absolute; /* Cambiado a absolute */
        top: 155px; /* Mueve hacia abajo */
        left: 90px; /* Mueve hacia la derecha */
        width: 250px; /* Ancho específico */
        height: 250px; /* Alto específico */
    }


.imagen-transporte {
        border-radius: 20px;
        max-width: 1000px;
        display: block;
        position: absolute;
        top: 525px; /* Mueve hacia abajo */
        left: 90px; /* Mueve hacia la derecha */
        width: 250px; /* Ancho específico */
        height: 250px; /* Alto específico */
        }

.about-me {
            max-width: 800px;
            margin: 20px auto;
            background-color: #FFF;
            padding: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            border: 1px solid #000;
            border-radius: 10px; /* Bordes redondeados */
        }

.project-krilena {
            background-color: #FFF;
            border: 1px solid #000;
            padding: 20px;
            margin: 10px 0;
            width: 80%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px; /* Bordes redondeados */
            top: 2000px; /* Mueve hacia abajo */
            left: 90px; /* Mueve hacia la derecha */
            width: 250px; /* Ancho específico */
            height: 250px; /* Alto específico */
        }
    
        /* Imagen sobre mí */
.imagen-about-me {
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
        
.contact-info {
    text-align: right;
}



footer {
    background-color: #A1D7D6;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
