body {
    font-family: 'Helvetica', sans-serif; /* Usar Helvetica */
    background-color: #eeafdb; /* Color de fondo */
    margin: 0;
    padding: 20px;
    color: #000000;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    margin-top: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

article {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
}

/* Estilos para las tarjetas */
.card1 {
    /* Puedes agregar estilos específicos si deseas */
}

.card2 {
    /* Puedes agregar estilos específicos si deseas */
}

.card3 {
    /* Puedes agregar estilos específicos si deseas */
}

.card4 {
    /* Puedes agregar estilos específicos si deseas */
}


